@font-face {
    font-family: japanfont;
    src: url(../Fonts/Genjiro-JRymx.otf);
}

@font-face {
    font-family: futurefont;
    src: url(../Fonts/Stifly.ttf);
}
@font-face {
    font-family: techysaba;
    src: url(../Fonts/SAIBA-45.otf);
}

@font-face {
    font-family: Tingle;
    src: url(../Fonts/tingle_tuner.otf);
}

h1{
    font-family: japanfont;
    color: #6c8093;
    font-weight: lighter;
    font-size: 10rem;   
    text-align: center;
    text-shadow: 4px 4px 4px #ecb6cc;
}
header p{
    font-family: tingle;
    font-size: 2rem;  
    text-align: center  ;
    text-shadow: 1px 1px 1px  white ;
    color:#6c8093    ;
    border: 5px #40485b;    
    background-color: #40485b;

}

body{
    background-color: #f2f2f4;
}       

.bg {
    /* The image used */
    background-image: url("https://i.pinimg.com/originals/54/f8/13/54f81331a9da88c623b96363fb0a4da1.gif");
    
    
    height: 100%; 
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }  

nav li {
   
    list-style: none;
    display: inline-block;
}

nav a{ 
    display: block;
    padding: 8px;
    align-self: center;
    text-decoration: none;
}

nav ul{
    text-align: center;
}

nav button{
    border: none;
    padding: 5px;
    margin: auto;
    background-color:#6c8093;
    font-family: Tingle;
   
    
    
    
}
.button{
    transition: color 0.4s linear;
    position: relative;
}
.button :hover {
color: #ecb6cc;
}

/* .button ::before{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #40485b ;
z-index: -1;
transition: transform 0.5;
transform-origin: 0 0;
transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7)
}
.button::before:hover {
    transform: scaleY(1)
} */


/* Just for the answer script */
.QuestionsAnswers{
    max-width: 75%;
    margin: auto;
}
.QuestionsAnswers > p,
.QuestionsAnswers > h1{
    margin:1.5rem 0;
    text-align: center;
}

.Questionsanswers > h1 {
    letter-spacing: 3px; 
}

.something {
    background-color: white;
    color: #6c8093;
    text-shadow: 5px 5px 5px black;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: techysaba;
}

.something i {
    font-size: 1.6rem;
}

.active,
.something:hover {
    background-color: #40485b  ;
}
.alotofwords {
    padding: 0 18px;
    background-color: white;
    display:none;
    overflow: hidden;
    background-color:#f1f7f5;
    padding: 0 2rem 2.5rem 2rem
} 
.alotofwords p {
    color: rgba(0,0,0,0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}
.QuestionsAnswers{
    border: 1px solid rgba(0,0,0,0.1);
    margin: 10px 0;
}
.QuestionsAnswers.active{
    border: none;

}

.QnA{
   align-self: center;
   margin:auto;
   display: block;
   font-family:'Times New Roman', Times, serif;
   text-shadow: 5px 5px 5px #ecb6cc
}

body {
    background-image: url(https://i.pinimg.com/originals/6a/cd/07/6acd0780a4c693b2cf8da52b5c44b18e.gif);
    background-position: center bottom;
    background-repeat: no-repeat;
}